.title{
    text-align: center;
    font-size: 45px;
    margin: 10px 0px;
    color: var(--twidder-blue);

    @media only screen and (min-width: 768px){
      font-size: 70px;
    }
}

form{
  text-align: center;
  width: 90%;
  margin: auto;

  .text-container{
    padding: 10px 0px;
          
    label{
      font-size: 20px;
      color: var(--twidder-blue);
    }

    textarea{
      width: 100%;
      font-size: 20px;
      padding: 12px 5px;
      border-radius: 10px;
      
    }
  }

  .name-container{
    label{
      font-size: 20px;
      color: var(--twidder-blue);
    }

    input{
      width: 100%;
      font-size: 20px;
      padding: 12px 5px;
      border-radius: 10px;
    }
  }

  button{
    width: 80%;
    padding: 15px 0px;
    font-size: 20px;

    border: 2px white solid;
    border-radius: 10px;

    color: white;
    background-color: var(--twidder-blue);
    transition: 0.5s;

    &:hover{
      cursor: pointer;
      background-color: var(--twidder-blue-transparent);
    }

    &:active{
      transform: translateY(-5px);
    }
  }

  @media only screen and (min-width: 768px) {
    width: 80%;
  }

  @media only screen and (min-width: 1200px) {
    width: 70%;
  }
}

.tweeds{
  margin: auto;
  width: 90%;
  margin-top: 30px;

  @media only screen and (min-width: 768px) {
    width: 80%;
  }

  .tweed{
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 10px;
    color: var(--twidder-blue);

    .name{
      font-size: 32px;
      font-weight: bold;
    }

    .content{
      font-size: 20px;
      padding: 25px 0px;
    }
  }
  .dark{
    border: 2px solid white;
  }
  
  .light{
    border: 2px solid var(--twidder-blue);
  }
  
}

.form-item{
  text-align: left;
  width: 80%;
  margin: auto;
}

.loading{
  width: fit-content;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.pagination-loading{
  color: var(--twidder-blue);
  font-size: 20px;
  text-align: center;
}